@import "shared"

* { accent: @yellow; }

mainbox  { width: 480px; }
prompt   { enabled: false; }
entry    { placeholder: "Search emoji…"; }
listview { lines: 10; }
element-text { font: "Adwaita Sans 13"; }
