@import "shared"

mainbox  { width: 720px; }
entry    { placeholder: "Filter shortcuts…"; }
listview { lines: 16; spacing: 1px; }
element  { padding: 6px 10px; }
element-text { font: "Adwaita Mono 10"; }
