@import "shared"

/* app launcher */
mainbox { width: 560px; }
entry   { placeholder: "Search apps…"; }

listview {
    columns: 1;
    lines:   9;
    spacing: 1px;
}
element      { padding: 8px 12px; spacing: 11px; }
element-icon { size: 1.4em; }
element-text { vertical-align: 0.5; }
