@import "shared"

/* destructive menu — red accent */
* { accent: @red; }

mainbox { width: 300px; }

inputbar {
    background-color: transparent;
    padding:          2px 4px 4px;
    children:         [ "prompt" ];
}
prompt {
    text-color: @subtext;
    font:       "Adwaita Sans Medium 11";
}

listview { lines: 5; spacing: 3px; }
element  { padding: 10px 14px; border-radius: 2px; }
